h1 Your Devices
h4= '<Work in progress>'

div.command-highlight
	p Come back to this page for ssh/vnc access right from your browser.
	p Currently you can copy your ip address and use ssh/vnc client to connect to your RPi