extends layout

block content
	div.container-fluid
		div.row
			div.col-md-3
			ul.col-md-3.sidebar
				li.sidebar-brand 
					a(href='/?hl=home') My Home
				li.sidebar-item 
					a(href='/?hl=myip') Get my IP
				li.sidebar-item 
					a(href='/?hl=mydevices') My devices
				li.sidebar-item 
					a(href='/?hl=router-setup') Router setup
				li.sidebar-item 
					a(href='/?hl=rpi-setup') RPi setup
				li.sidebar-item
					a(href='/logout') Logout

			div.col-md-9
				if hl == 'rpi-setup'
					include ./rpi-setup.jade
				else if hl == 'router-setup'
					include ./router-setup.jade
				else if hl == 'mydevices'
					include ./devices.jade
				else 
					include ./ip-info.jade