extends layout

block content
	div.module
		div.module-header
			h1 Regiter
		div.module-content
			form#reg-form(action='/register', method='POST')
				div.row.col-md-12
					input.form-control(type='text', name='name', placeholder='Name')
				div.row.col-md-12
					input.form-control(type='text', name='email', pattern='[a-zA-Z0-9._+]+@([a-zA-Z0-9]\.)+.+{2,3}', placeholder='Email')
				div.row.col-md-12
					input.form-control(type='password', name='password', placeholder='Password')
				div.row.col-md-12
					input.form-control(type='password', name='cnfpassword', placeholder='Confirm password')
				div.row.col-md-12
					input.btn.btn-primary(type='submit', name='register', value='Register')
			script(type='text/javascript', src="/js/registration.js")
