h1 RPi Setup
ol#rpiSetup.setup
	li Install tightvncserver for enabling vnc support
	p.command-highlight sudo apt-get install tightvncserver
	li Set tightvncserver to start automatically when system starts
	div.command-highlight
		p.command sudo nano /etc/rc.local
		p.instruction append to end of file:
		p.command su - pi -c '/usr/bin/vncserver :1 -geometry 1366x768 -depth 24'
	li 
		Download IP update script from 
		a(href='/scripts/rpi-ip-update.sh') here
	li Copy rpi-ip-update.sh to /usr/bin folder and, make it executable.
	li Setup cron tab to execute the script every two minutes.
	div.command-highlight
		p.command crontab -e
		p.command */2 * * * * /usr/local/bin/rpi-ip-update.sh >> /dev/null 2>&1