body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-primary {
	width: 100%;
}

.module {
	width: 400px;
	margin: 0 auto;
}

.row {
	margin-top: 20px;
}